<html>
<head>
    {% include "./header.html" %}

</head>

<body>


<div class="container">
<ul class="nav nav-tabs">
        <li role="presentation"><a href="#">List View</a></li>
        <li role="presentation"><a href="./engel/">Engel Index</a></li>
        <li role="presentation"><a href="./category/">Category Summary</a></li>
        <li role="presentation"><a href="./dynamic/">Monthly Dynamic</a></li>
        <li role="presentation"><a href="./week3D/">Week3D</a></li>
         <li role="presentation"><a href="./intro/">Introduction</a></li>
        <li role="presentation" ><a role="button" class="btn btn-success" href="./record/">Add Record</a></li>
         {% if login %}
          <li role="presentation" ><a role="button" class="btn btn-warning" href="./logout/">Logout</a></li>

        {% else %}
            <li role="presentation" ><a role="button" class="btn btn-primary" href="./login/">Login</a></li>

        {% endif %}
</ul>

    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Historical Transaction</h3>
  </div>
  <div class="panel-body text-center" >
     <table class="table">
        <tr class="text-center">
            <th class="text-center">Amount</th>
            <th class="text-center">Time</th>
            <th class="text-center">Tags</th>
            <th class="text-center">Memo</th>
            <th class="text-center">Action</th>
        </tr>

        {% for transaction in all_transaction %}
            {% include "./transaction_temp.html" %}
        {% endfor %}

    </table>
  </div>
</div>
    </div>



</div>

</body>
</html>
