<!DOCTYPE html>
<html lang="en">
<head>
    {% include "./header.html" %}
    <title>Introduction</title>
</head>
<body>

<div class="jumbotron" style="background: url('https://i.imgur.com/KtzPnLA.jpg'); background-size: cover; color:#010101">
    <div class="container">
  <h1>Personal Financial Assistor</h1>
        <p>A well designed simple application for you to record your daily transaction <br>and help you review your personal financial history with great convenience</p>
        <p>It provides high-level protection on your data and insightful visualization<br> for you to review and summarized your financial situation</p>

        <p><a href="mailto:xinyuzhu@andrew.cmu.edu">&copy; 2018 ZHU Xinyu@CMU</a></p>
  <p><a class="btn btn-primary btn-lg" href="../" role="button">Go to Demo</a>

  <a class="btn btn-primary btn-lg" href="https://github.com/xzhuah/PersonalFinancialAssistant" role="button" target="_blank">Github</a></p>

    </div>
</div>

<div class="container">
<div class="panel panel-success">
  <div class="panel-heading">Security</div>
  <div class="panel-body">

  <div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Framework</h4>
    <p class="list-group-item-text">PFA is built upon Django framework which is famous for its security.</p>
  </a>

       <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Encryption</h4>
    <p class="list-group-item-text">All of your data will be encrypted before being transmitted through the network or stored in database<br>The encryption follows Advanced Encryption Standard(AES) and your private key will not be stored in any database</p>
  <img src="https://i.imgur.com/hHbOPZM.png" width="100%" title="Sample Data Stored In Database"/>
       </a>


</div>

    </div>
</div>

    <div class="panel panel-info">
  <div class="panel-heading">Interface</div>
  <div class="panel-body">

  <div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Simple</h4>
    <p class="list-group-item-text">All interfaces are simple, pragmatic.<br>The system goal is well focused so the functionality is clear to all</p>
  </a>

       <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Intuitive</h4>
    <p class="list-group-item-text">As long as you can read in English</p>
  </a>


</div>

    </div>
    </div>



       <div class="panel panel-primary">
  <div class="panel-heading">Professional</div>
  <div class="panel-body">

  <div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Visualization</h4>
    <p class="list-group-item-text">Pyecharts visualization library is adopted to generate informative and interactive graphs for you to explore your own data</p>
      <a href="../dynamic/"><img src = "https://i.imgur.com/VjmvO58.png" width="100%" title="sample visulization"/></a>
      <a href="../week3D/"><img src = "https://i.imgur.com/aMWWGKs.png" width="100%" title="sample visulization"/></a>
  </a>


</div>

    </div>
</div>



       <div class="panel panel-primary">
  <div class="panel-heading">Future</div>
  <div class="panel-body">

  <div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Login</h4>
    <p class="list-group-item-text">Of course, you will be able to login and enjoy all the funs</p>
      <p> Why not get the source on github and set up your own application on your own server? That will greatly improve your security level</p>
  </a>
      <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">More visualization</h4>
    <p class="list-group-item-text">You will see more visualization available, you can even personalize the visualization methods and explore by yourself</p>
  </a>

        <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Better connection with your real life</h4>
    <p class="list-group-item-text">
        Don't need input by yourself, PFA will connect with your bank cards, online payment apps directly! :-)
    </p>
  </a>

</div>

    </div>
</div>


</div>
<div class="jumbotron">

    <center><h1>Techs behind</h1></center>
        <div class="container">
  <img src="https://cdn-images-1.medium.com/max/1280/1*u_Jr6FozmyMCi3pe9ZsoFg.png"  class="img-rounded col-md-3 col-sm-3 col-xs-12">
         <img src="https://cdn-images-1.medium.com/max/1040/1*Mx3MUKkPENbaIR-vKGeLDw.jpeg"  class="img-rounded col-md-3 col-sm-3 col-xs-12">
         <img src="https://bilalamjad.net/wp-content/uploads/2015/07/bs.png"  class="img-rounded col-md-3 col-sm-3 col-xs-12">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBB3qc188gvpjLDzOvpJyelr8O7N6S_3MX22el8CDTTJ1ohYYOrg"  class="img-rounded col-md-3 col-sm-3 col-xs-12">

        </div>
    <br>
    <div class="container">
    <p>The motivation of building this application comes from my family. I can't wait helping my parents recording their daily financial activities. </p>
    <p>Long Long ago, we record our daily transaction on paper. It is hard to do statistic and that hurt our motivation</p>
    <p>With PFA, life become easier. It helps you better plan your future expenditure and evaluate your life quality</p>
    <p>Hope that you can enjoy and learn the importance of money management</p>
        </div>
</div>

</body>
</html>